body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display {
  text-align: center;
}

.img {
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: 3em;
  width: 28%;
  height: 28%;
}

.header {
  background-color: #179117;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 4px 0 10px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 350;
  letter-spacing: 3px;
  line-height: 0.5;
  padding-top: 10px;
  font-family: "Cantarell", sans-serif;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.form-message {
  text-align: center;
}

time {
  font-family: "Open Sans";
  position: absolute;
  margin-bottom: 0.75em;
  margin-right: 1em;
  font-size: 8vh;
  right: 0;
}

.time-date {
  font-weight: bold;
  bottom: 1em;
}

.time-clock {
  font-weight: lighter;
  bottom: 0;
}

.upper-message {
  font-weight: bold;
  font-family: "Open Sans";
  position: relative;
  left: 0;
  top: 5vh;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 6vh;
}

.lower-message {
  font-family: "Open Sans";
  font-weight: lighter;
  position: relative;
  left: 0;
  top: 5vh;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 6vh;
}

.default-message {
  font-family: "Open Sans";
  position: relative;
  left: 0;
  top: 14vh;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 8vh;
}
